text {
    font-size: 25px;
    font-weight:bold;
    fill:white;
}
*{
    margin:0px;
    padding:0px;
}
div#main{
    margin:center;
    margin-left:20%;
    width:900px;
    height:500px;
}
div#d1{
    width:auto;
    height:auto;
    float:left;
}
div#d2{
    width:auto;
    height:auto;
    float:left;
}
div#d3{
    width:auto;
    height:auto;
    float:left;
}